<configuration>
    <lefthand v="true"/>
    <osm v="cork.osm.xml"/>
    <geometry.remove v="true"/>
    <ramps.guess v="true"/>
    <tls.guess-signals v="true"/>
    <tls.discard-simple v="true"/>
    <tls.join v="true"/>
    <tls.default-type v="actuated"/>
    <speed-in-kmh v="true"/>
    <numerical-ids v="true"/>
    <no-turnarounds v="true"/>
    <no-turnarounds.except-deadend v="true"/>
    <no-turnarounds.except-turnlane v="true"/>
    <sidewalks.guess.from-permissions v="true"/>
    <crossings.guess v="true"/>
    <walkingareas v="true"/>
    <osm.elevation v="true"/>
    <osm.layer-elevation v="4.0"/>
</configuration>
